#vis_window {
	margin: 20px auto;
	width:400px;
	height:340px;
	outline:1px solid red;
	padding-top:20px;
	/*overflow: hidden;*/
}
@media screen and (max-width: 769px) {
	#vis_window {
		overflow:hidden;
	}
}
#translate_line {
	position:relative;
	height:80%;
}
	#translate_line > div {
		position: absolute;
		height:270px;
		width:100%;
	}	
	img {
		position: absolute;
		left:50%;
		top:50%;
		transition:0.2s;
		transform:translate(-50%,-50%) scale(0.5);
		box-shadow: 6px 5px 4px rgba(51,51,51,0.6);
	}
	.slide_active img{
		transform:translate(-50%,-50%) scale(0.7);
	}

#intro{
	margin:10px auto;
	text-align: center;
	font: 16px bold;
}
#cursor {
	position:relative;
	z-index: 2;
	margin:auto;
	width:400px;
	text-align:center;
}
	#cursor a {
		margin:0px 5px;
		width:20px;
		height:20px;
		border-radius:50%;
		border:1px solid #999;
		text-align:center;
		line-height:20px;
		text-decoration: none;
		font-size: 20px;
		display:inline-block;
		transition:0.3s;
	}
		#cursor a:hover {
			background-color: rgba(51,51,51,0.6);
			border: 1px solid white;
			color:#fff;
		}
	#cursor .active {
		background-color: rgba(51,51,51,0.6);
		border: 1px solid white;
		color:#fff;
	}