#vis_window {
	margin-left:200px;
	width:420px;
	height:350px;
	outline:1px solid red;
	padding-top:20px;
}
#translate_line {
	position:relative;
	height:80%;
	width:400px;
}
img {
	display:inline-block;
	position:absolute;
	margin-left:47px;
	box-shadow: 2px 2px 3px rgba(51,51,51,0.6);
}
.slide {
	position:absolute;
	top:0px;
	left:0px;
}
#intro{
	margin:10px auto;
	text-align: center;
	font: 16px bold;
}
#course {
	margin:auto;
	width:400px;
	text-align:center;
}
	#course a {
		margin:0px 5px;
		width:20px;
		height:20px;
		border-radius:50%;
		border:1px solid red;
		text-align:center;
		line-height:20px;
		text-decoration: none;
		font-size: 20px;
		display:inline-block;
	}
	#course .active {
		background-color: rgba(51,51,51,0.6);
		border: 1px solid white;
		color:white;
	}